h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;
}

li{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;

}
ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
  }